@model IMS.models.Entity.SupplierInfo


@{
    ViewData["Title"] = "Supplier Management"; //Browser tab title

    <!-- Display Content Box Title of the page ADD/EDIT based on model value-->
    if (Model.Id > 0)
    {
        ViewData["ContentBoxTitle"] = "Update Supplier";
    }
    else
    {
        ViewData["ContentBoxTitle"] = "Add Supplier";
    }
}




@if (Model.Id > 0)
{
    <div>
        <p>Update</p>
    </div>
}
else
{
    <div>
        <p>Create</p>
    </div>
}

<form method="post" asp-action="AddEdit">
    <input asp-for="Id" hidden />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-label" asp-for="SupplierName"></label>
                <input class="form-control" asp-for="SupplierName" />
                <span class="text-danger" asp-validation-for="SupplierName"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-label" asp-for="ContactPerson"></label>
                <input class="form-control" asp-for="ContactPerson" />
                <span asp-validation-for="ContactPerson"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-label" asp-for="PhoneNumber"></label>
                <input class="form-control" asp-for="PhoneNumber" />
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-label" asp-for="Address"></label>
                <input class="form-control" asp-for="Address" />
                <span class="text-danger" asp-validation-for="Address"></span>
            </div>
        </div>
       

        <div class="col-6">
            <div class="form-group">
                <label class="check-box">
                    <input type="checkbox" asp-for="IsActive">
                    <span class="checked1"></span>
                    <p class="terms" for="">Is Active</p>
                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">

            <a class="btn mt-2 btn-secondary" asp-action="Index">Back to List</a>

        </div>

        @if (Model.Id > 0)
        {
            <div class="col-6">
                <button class="btn mt-2 btn-primary  float-end" type="submit">Update</button>
            </div>
        }
        else
        {
            <div class="col-6">
                <button class="btn mt-2 btn-primary  float-end" type="submit">Create</button>
            </div>
        }

    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}